body,
html,
.main {
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}
.main .head {
  width: 100%;
  height: 3.0625rem;
  background: linear-gradient(34deg, #9B764C 0, #E3B764 100%);
  border: 1px solid transparent;
  box-sizing: border-box;
}
.main .head .header {
  display: flex;
  width: 100%;
  height: 3.0625rem;
  line-height: 3.0625rem;
}
.main .head .header a {
  color: #fff;
}
.main .head .header span {
  flex: 1;
  text-align: center;
  font-size: 1.0625rem;
  letter-spacing: 0.088125rem;
  color: #fff;
}
.main .head .header span:nth-child(1) img {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.9rem;
}
.main .head .header span:nth-child(2) {
  flex: 5;
}
.main .head .header span:nth-child(3) {
  font-size: 0.875rem;
}
.main .nav {
  width: 100%;
  height: 6.25rem;
}
.main .nav img {
  width: 100%;
}
.main .tem {
  width: 100%;
  height: auto;
  background: #F6F6F6;
  padding: 10px 0 4rem 0;
}
.main .tem p {
  margin-top: 0.5rem;
  line-height: 0.75rem;
  text-indent: 1.125rem;
  font-size: 0.75rem;
  color: #CC9F68;
}
.main button {
  width: 17.5rem;
  padding: 10px 0 24px 0;
  text-align: center;
  border: none;
  outline: 0;
  background: url("https://imagecdn.xinyongjinku.com/wechat/modules/images/jiekuan_button@v1.1.1.png") center no-repeat;
  background-size: cover;
  display: block;
  font-size: 1.125rem;
  color: #fff;
  box-sizing: border-box;
  margin: 1rem auto;
}
.main button a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #FFF;
  font-size: 1.125rem;
}
.main .button {
  width: 100%;
  margin-top: 1.25rem;
  border: 0.01px solid transparent;
  box-sizing: border-box;
}
.main ::-webkit-input-placeholder {
  font-size: 0.75rem;
  color: #D8D8D8;
}
.main .donghua {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  z-index: 110;
  display: none;
  position: fixed;
}
.main .donghua .loading {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.25rem;
  animation: mymove 1s cubic-bezier(0.96, 0.96, 0.04, 0.04) infinite;
}
.main .donghua .loading .i0,
.main .donghua .loading .s0 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .s0,
.main .donghua .loading .s1,
.main .donghua .loading .s10,
.main .donghua .loading .s2,
.main .donghua .loading .s3,
.main .donghua .loading .s4,
.main .donghua .loading .s6,
.main .donghua .loading .s7,
.main .donghua .loading .s8,
.main .donghua .loading .s9 {
  background-image: linear-gradient(34deg, #9B764C 0, #E3B764 100%);
  margin: -0.4375rem;
}
.main .donghua .loading .i0 {
  left: 0;
  top: 0;
  transform: rotate(0deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s0 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(0);
}
.main .donghua .loading .i1,
.main .donghua .loading .s1 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}
.main .donghua .loading .i1 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(36deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s1 {
  border: 0.0625rem solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.1);
}
.main .donghua .loading .i2,
.main .donghua .loading .s2 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .i2 {
  left: 0;
  top: 0;
  transform: rotate(72deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s2 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(0.2);
}
.main .donghua .loading .i3,
.main .donghua .loading .s3 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}
.main .donghua .loading .i3 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(108deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s3 {
  border: 0.0625rem solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.3);
}
.main .donghua .loading .i4,
.main .donghua .loading .s4 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .i4 {
  left: 0;
  top: 0;
  transform: rotate(144deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s4 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(0.4);
}
.main .donghua .loading .i5,
.main .donghua .loading .s5 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}
.main .donghua .loading .i5 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(180deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s5 {
  background-image: linear-gradient(34deg, #9B764C 0, #E3B764 100%);
  border: 1px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.4375rem;
  transform: scale(0.5);
}
.main .donghua .loading .i6,
.main .donghua .loading .s6 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .i6 {
  left: 0;
  top: 0;
  transform: rotate(216deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s6 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(0.6);
}
.main .donghua .loading .i7,
.main .donghua .loading .s7 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}
.main .donghua .loading .i7 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(252deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s7 {
  border: 0.0625rem solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.7);
}
.main .donghua .loading .i8,
.main .donghua .loading .s8 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .i8 {
  left: 0;
  top: 0;
  transform: rotate(288deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s8 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(0.8);
}
.main .donghua .loading .i9,
.main .donghua .loading .s9 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}
.main .donghua .loading .i9 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(324deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s9 {
  border: 0.0625rem solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.9);
}
.main .donghua .loading .i10,
.main .donghua .loading .s10 {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
}
.main .donghua .loading .i10 {
  left: 0;
  top: 0;
  transform: rotate(360deg);
  transform-origin: 1.875rem 1.875rem;
}
.main .donghua .loading .s10 {
  border: 0.0625rem solid transparent;
  left: 50%;
  top: 50%;
  transform: scale(1);
}
.main .donghua .tishi {
  text-align: center;
  width: 8.75rem;
  line-height: 9.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3.625rem;
  font-size: 0.875rem;
  color: rgba(216, 161, 94, 0.66);
}
@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main .xieyis,
.main .zhucexieyi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.main .inp {
  width: 100%;
  height: 3.125rem;
}
.main .inp div {
  width: 75%;
  height: 3.125rem;
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.78);
  margin: 0 auto;
}
.main .inp div input {
  border: none;
  width: 76%;
  background: 0 0;
  height: 54%;
  font-size: 0.75rem;
  text-indent: 0.25rem;
  line-height: 1.125rem;
  outline: 0 ;
  margin-top: 1rem;
}
.main .inp div span {
  width: 1.8125rem;
  height: 1.75rem;
}
.main .inp div span img {
  width: 1.8125rem;
  height: 1.75rem;
  margin-bottom: -0.625rem;
}
.main h1 {
  text-align: center;
  height: 3.125rem;
  line-height: 2.5rem;
}
.main h1 em {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: url(https://imagecdn.xinyongjinku.com/wechat/modules/images/dan.png) center no-repeat;
  background-size: cover;
  margin: 0 0.3125rem -0.0625rem 0;
}
.main .check em {
  background: url(https://imagecdn.xinyongjinku.com/wechat/modules/images/danz.png) center no-repeat;
  background-size: cover;
}
.main .check i {
  color: #00f;
}
.main .PublicImgCss {
  width: 100%;
}
.main .PublicImgCss .img {
  width: 100%;
  height: 11.25rem;
  background: #fff;
}
.main .PublicImgCss .img img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.main .PublicImgCss .button {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
