.Loan {
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 4rem;
}
.Loan .head {
  position: relative;
  padding-top: 0.0625rem;
  width: 100%;
  height: 14.625rem;
  background-image: linear-gradient(#6A737C 0, #43494F 100%);
}
.Loan .head .header {
  height: 3.5rem;
  line-height: 3.5rem;
}
.Loan .head .ka {
  position: relative;
  padding-top: 0.0625rem;
  width: 95%;
  height: 15rem;
  background: url(https://imagecdn.xinyongjinku.com/wechat/modules/images/jieweizhu.png) center no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  color: #fff;
  margin: 0 auto;
  border-top: 0.0625rem solid #eee;
}
.Loan .head .ka .renzheng {
  border-radius: 0.625rem;
  width: 5rem;
  height: 1.25rem;
  position: absolute;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
  top: 1.25rem;
  right: 1.0625rem;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.02);
  color: #FFF;
}
.Loan .head .ka .renzheng i img {
  margin-bottom: 0.0625rem;
  color: #D8D8D8;
  width: 0.9375rem;
  height: 0.6875rem;
  display: inline-block;
  margin-left: -0.25rem;
}
.Loan .head .ka .ulsw {
  color: #FFF;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.27);
  width: 93%;
  height: 3.125rem;
  display: flex;
  margin: 6.875rem auto 0;
  font-size: 0.875rem;
  text-align: left;
}
.Loan .head .ka .ulsw li {
  flex: 1;
  justify-content: space-between;
}
.Loan .head .ka .ulsw li p {
  margin-bottom: 0.5625rem;
}
.Loan .head .ka .ulsw li .t {
  color: #FFF;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.27);
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.Loan .head .ka .ulsw li .t i {
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.Loan .head .ka ol .jie {
  color: #FFF;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.27);
  display: flex;
  width: 93%;
  height: 2.9375rem;
  line-height: 2.9375rem;
  margin: 0 auto;
  font-size: 0.75rem;
  opacity: 0.5;
}
.Loan .head .ka ol li {
  justify-content: space-between;
  text-align: left;
  flex: 1;
}
.Loan .head .ka ol li:nth-child(1) {
  flex: 2;
}
.Loan .kong {
  width: 100%;
  height: 4.375rem;
}
.Loan .content {
  width: 85%;
  margin: 0 auto;
}
.Loan .content .conts {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.Loan .content .conts .change {
  width: 100%;
  height: 1.25rem;
  position: relative;
}
.Loan .content .conts .change .jindutiao {
  width: 100%;
  height: 0.375rem;
  background: #D8D8D8;
  box-shadow: inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  margin-top: 1.5rem;
}
.Loan .content .conts .change .jindutiao .jindutiaos {
  position: absolute;
  width: 100%;
  height: 0.375rem;
  background: #CC9F68;
  box-shadow: inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}
.Loan .content .conts .change .jindutiao .jindutiaoss {
  position: absolute;
  width: 100%;
  height: 0.375rem;
  background: #CC9F68;
  box-shadow: inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}
.Loan .content .conts .change .jindutiao .huakuai {
  background: url(https://imagecdn.xinyongjinku.com/wechat/modules/images/slide.png) center no-repeat;
  background-size: cover;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  left: 93%;
  top: -0.6875rem;
  cursor: pointer;
}
.Loan .content .conts .change .jindutiao .huakuais {
  background: url(https://imagecdn.xinyongjinku.com/wechat/modules/images/slide.png) center no-repeat;
  background-size: cover;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  left: 93%;
  top: -0.6875rem;
  cursor: pointer;
}
.Loan .content .conts .change .jindutiao .xian {
  background: 0 0;
  background-size: cover;
  width: 3.5rem;
  height: 0.875rem;
  position: absolute;
  left: 87%;
  top: -2rem;
  color: #CC9F68;
  font-size: 0.75rem;
  text-align: center;
}
.Loan .content .conts .change .jindutiao .xians {
  background: 0 0;
  background-size: cover;
  width: 3.5rem;
  height: 0.875rem;
  position: absolute;
  left: 87%;
  top: -2rem;
  color: #CC9F68;
  font-size: 0.75rem;
  width: 3.25rem;
  text-align: center;
}
.Loan .content .conts .ds {
  width: 103%;
  height: 0.9375rem;
  line-height: 0.9375rem;
  display: flex;
  font-size: 0.875rem;
  color: #B3B3B3;
  text-align: center;
}
.Loan .content .conts .ds span {
  justify-content: space-between;
  flex: 6;
}
.Loan .content .conts .ds span:nth-child(2) {
  flex: 17;
}
.Loan .content .conts .dss {
  display: flex;
  width: 100%;
}
.Loan .content .conts .dss span:nth-child(2) {
  flex: 29;
}
.Loan .content button {
  margin: 3.25rem auto 0;
}
.Loan .content button a {
  font-size: 1.125rem;
  color: #FFF;
}
.Loan .content .div {
  display: none;
}
.Loan .content .div .uls {
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  display: flex;
  text-align: center;
  font-size: 1rem;
}
.Loan .content .div .uls li {
  flex: 1;
  display: flex;
}
.Loan .content .div .uls li span {
  flex: 1;
}
.Loan .content .div .uls li span i {
  color: #CC9F68;
}
.Loan .content .div .uls li span:nth-child(1) {
  color: #B3B3B3;
}
.Loan .content .div .uls li span:nth-child(3) img {
  width: 1.7rem;
  height: 1.2rem;
  margin: -4px auto;
}
