.InformList {
  width: 100%;
  height: 100%;
}
.InformList .cont_new .list_new {
  width: 100%;
  padding-bottom: 3.5rem;
}
.InformList .cont_new .list_new li {
  height: 5.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
.InformList .cont_new .list_new .first_p {
  float: left;
  font-size: 0.75rem;
  text-indent: 1em;
  color: #333333;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  width: 85%;
}
.InformList .cont_new .list_new img {
  float: right;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: absolute;
  top: 48%;
  right: 0.5rem;
}
.InformList .cont_new .list_new span {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #74CA69;
  display: inline-block;
  float: left;
  margin-top: 1.7rem;
  margin-left: 1rem;
}
.InformList .cont_new .list_new .hui {
  color: #5C5C5C;
  background: #eee;
  opacity: 0.5;
}
.InformList .cont_new .list_new .hui span {
  background: #5C5C5C;
}
.InformList .cont_new .list_new .second_p {
  text-indent: 2em;
  color: #333333;
  margin-top: 15px;
  clear: both;
  width: 85%;
}
